@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Gemunu+Libre:ital,wght@0,400;0,700;1,400&display=swap');



.home-title {
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

#content{
    max-width: 1600px;
    margin: 0 auto;
}


#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.button-box{
    text-align: center;
}
main{
    text-align: center;
}
#hero{
    width: 100%;
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb; 
    font-family: Raleway, Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;     
}

h2 {
    margin: 0;
}
       
header {
    background-color:rgba(46, 66, 32, 0.7);
}
nav a {
    text-align: center;
    color:rgb(255, 255, 255);
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    background-color: rgb(126, 203, 150);
    color:gray ;
}

.home-title{
    color: black ;
}

h4{
    color: black;
}

.book, .join {
    font-size: 18px;
    text-align: center;
    background-color: rgb(225, 255, 235);
    color: black;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: rgb(131, 247, 152);
    color: gray
};

.msg h2 {
    font-size: .8em;
    color:rgba(46, 66, 32, 0.7);
}

.msg p {
    font-size: .8em;
    color:rgba(46, 66, 32, 0.7);
    padding-bottom: 15px;
}

#background {
    background-color: rgb(163, 255, 198);
    color: white;
}
.msg {
    background-color: #D7FFF1;
    color: black;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 150px;
}
footer {

    background-color: #77AF9C;
    color: white;
    text-decoration: underline;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a{
    background-color: #77AF9C;
    color: white;
    text-decoration: none;
    padding: 25px 50px;
}

footer a:hover{
    background-color: #345c4f;
    color: white;
    text-decoration: underline;
}

footer p{
    font-size: 1em;
}

.icon {
    width: 5px;
    padding-top: 0px;
}

footer .social img {
    padding-top: 1px;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}  
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}