.header-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 40px 1fr 1fr 1fr 40px;
}

nav {
    text-align: center;
    grid-column: 1;
    font-family: Arial;

}

.logo {
    grid-column: 1;
}

.account {

    grid-column: 5;
}
.special {
    grid-column: 3;
}

a {
    color: rgb(66, 66, 66);
}

a:hover {
    color: red;
}

p {
    text-align: center;
    font-family: Arial;
}

h2 {
    text-align: center;
    font-family: Arial;

}

.main-container {
    display: grid;
    grid-template-columns: 1fr 750px 1fr
}

.intro {
    text-align: center;
    grid-column: 2;
}

footer {
    margin-top: 50px;
    font-family: Arial;
    text-align: center;

}

.input-box {
    margin-top: 50px;
    text-align: center;
    background-color: bisque;
    grid-column: 2;
    border-radius: 50px;
}

.image1 {
    margin-top: 50px;
    grid-column: 2;
    text-align: center;
}

.img-edit {
    border-radius: 20px;
}